Q1. List any five functions of the pandas library with execution.

Ans: 1)pd.DataFrame(): This function is used to create a DataFrame, which is a 2-dimensional data structure like a table.
ex:

In [1]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'London', 'Tokyo']}

df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Tokyo

pd.Series(): This function creates a one-dimensional labeled array, similar to a column in a DataFrame.
ex:

In [2]:
import pandas as pd

# Create a Series from a list
data = [10, 20, 30, 40, 50]

series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

df.head(): This function returns the first n rows of a DataFrame. By default, it returns the first 5 rows.
ex:

In [3]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'London', 'Tokyo']}

df = pd.DataFrame(data)

# Get the first 2 rows
print(df.head(2))

    Name  Age      City
0  Alice   25  New York
1    Bob   30    London

df.groupby(): This function is used to group data in a DataFrame based on a specific column or multiple columns.
ex:

In [4]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
        'Age': [25, 30, 22, 28, 35],
        'City': ['New York', 'London', 'Tokyo', 'New York', 'London']}

df = pd.DataFrame(data)

# Group by 'Name' column and calculate the mean age for each group
grouped_df = df.groupby('Name').mean()
print(grouped_df)

          Age
Name
Alice    26.5
Bob      32.5
Charlie  22.0

/tmp/ipykernel_84/305417296.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_df = df.groupby('Name').mean()

df.merge(): This function is used to merge two DataFrames based on a common column.
ex:

In [5]:
import pandas as pd

# Create two DataFrames
data1 = {'ID': [1, 2, 3],
         'Name': ['Alice', 'Bob', 'Charlie']}
data2 = {'ID': [2, 3, 4],
         'Age': [25, 30, 22]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge the DataFrames based on the 'ID' column
merged_df = df1.merge(df2, on='ID')
print(merged_df)

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   30

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [6]:
import pandas as pd

def reindex_dataframe(df):
    # Reset the index to get the default integer index
    df.reset_index(drop=True, inplace=True)
    
    # Create a new index starting from 1 and incrementing by 2
    new_index = pd.RangeIndex(start=1, stop=2 * len(df), step=2)
    
    # Assign the new index to the DataFrame
    df.index = new_index
    
    return df

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [7]:
def cal_sum(df):
    sm=0
    for idx,val in enumerate(df['values']):
        if idx<3: sm+=val
        else: break
    print("sum of first three values in values col: ",sm)

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [8]:
def wrd_c(df):
    cnt= lambda txt: len(txt.split())
    df['Word_Count']=df['Text'].apply(cnt)
    return df

Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans: DataFrame.size and DataFrame.shape are both attributes of a pandas DataFrame, but they provide different information about the DataFrame. Here's how they are different:

1)DataFrame.size:
>DataFrame.size gives the total number of elements in the DataFrame.
>It counts the total number of cells in the DataFrame, including both rows and columns.
>The value returned by DataFrame.size is an integer representing the total number of elements.

2)DataFrame.shape:
>DataFrame.shape gives the dimensions of the DataFrame as a tuple of (rows, columns).
>It provides the number of rows and columns present in the DataFrame.
>The value returned by DataFrame.shape is a tuple containing two elements: the number of rows and the number of columns.

Q6. Which function of pandas do we use to read an excel file?

Ans:To read an Excel file in pandas, you can use the pd.read_excel() function. This function allows you to read data from an Excel file and create a pandas DataFrame from it.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [9]:
def ex_usr(df):
    df['Username']=df['Email'].apply( lambda e: e.split('@')[0])
    return df

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [10]:
def new_df(df):
    s_row=df[(df['A']>5) & (df['B']<10)]
    return s_row

In [11]:
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}

df = pd.DataFrame(data)

In [12]:
print(df)

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [13]:
print(new_df(df))

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [14]:
def statistics(df):
    mean_v=df['Values'].mean()
    median_v=df['Values'].median()
    std_v=df['Values'].std()
    return mean_v,median_v,std_v

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [15]:
def avg_7(df):
    df.sort_values('Date',inplace=True)
    df['MovingAverage']=df['Sales'].rolling(window=7,min_periods=1).mean()
    return df

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [16]:
def push_df(df):
    df['Date']=pd.to_datetime(df['Date'])
    df['Weekday']=df['Date'].dt.strftime('%A')
    return df

In [19]:
date_data = ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']

# Create the DataFrame
df1 = pd.DataFrame({'Date': date_data})

# Display the DataFrame
print(df1)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05

In [20]:
push_df(df1)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [21]:
def sel_time(df):
    df['Date']=pd.to_datetime(df['Date'])
    m=(df['Date']>='2023-01-01')&(df['Date']<='2023-01-31')
    return df[m]

In [22]:
sel_time(df1)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

Ans:To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is the pandas library itself. The pandas library is a popular and powerful data manipulation library in Python, and it provides a DataFrame data structure that is widely used for data analysis and manipulation.

To import the pandas library, you typically use the following import statement:
import pandas as pd

By convention, pandas is often imported with the alias pd, which makes it easier to refer to pandas functions and classes in your code.

Once you have imported pandas, you can access all its functions and features using the pd prefix. For example, you can create a DataFrame using pd.DataFrame(), read data from a CSV file using pd.read_csv(), perform data analysis using various pandas functions, and much more.