Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import logging

In [2]:
data=[4, 8, 15, 16, 23, 42]

In [3]:
ser=pd.Series(data)

In [5]:
logging.basicConfig(level=logging.INFO)

In [6]:
logging.info("panda series")
logging.info(ser)

INFO:root:panda series
INFO:root:0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [8]:
l=[i for i in range(1,11)]
l_sr=pd.Series(l)

In [9]:
logging.info("list")
logging.info(l_sr)

INFO:root:list
INFO:root:0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Then, print the DataFrame.

In [10]:
data2={
'Name':['Alice','Bob','Claire'],
'Age':[25,30,27],
'Gender':['Female','Male','Female']}

In [11]:
df=pd.DataFrame(data2)

In [13]:
logging.info("dataframe")
logging.info(df)

INFO:root:dataframe
INFO:root:     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans: In Pandas, a DataFrame is a two-dimensional, tabular data structure that is designed to store and manipulate data in rows and columns. It is similar to a spreadsheet or a SQL table, where data is organized in a grid-like format. Each column in a DataFrame represents a different variable or feature, and each row represents an individual observation or entry. DataFrames are a powerful data structure for data analysis, as they offer various functions for data manipulation, filtering, aggregation, and more.

On the other hand, a Pandas Series is a one-dimensional array-like object that can store a sequence of data values, along with an associated index for each value. Essentially, a Series is a single column of data with labeled indices. You can think of a DataFrame as a collection of Series objects, where each Series represents a column.

above questions are example of this question.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions you can use are:

1)head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of the DataFrame. They are useful for quickly inspecting the structure and contents of the DataFrame.

In [14]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['John', 'Jane', 'Tom', 'Alice', 'Mike'],
    'Age': [28, 24, 22, 30, 25],
    'City': ['New York', 'London', 'Paris', 'Sydney', 'Toronto']
}

df = pd.DataFrame(data)

# Using head() to view the first few rows
print(df.head(3))

# Using tail() to view the last few rows
print(df.tail(2))

   Name  Age      City
0  John   28  New York
1  Jane   24    London
2   Tom   22     Paris
    Name  Age     City
3  Alice   30   Sydney
4   Mike   25  Toronto

2)info(): This function gives a concise summary of the DataFrame, showing the data types, non-null values, and memory usage. It is helpful to get an overview of the DataFrame's data structure.
ex:

In [15]:
# Using info() to get DataFrame summary
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes
None

3)describe(): This function generates descriptive statistics of the numerical columns in the DataFrame, providing information on count, mean, standard deviation, minimum, and maximum values, among others.
ex:

In [16]:
# Using describe() to get descriptive statistics
print(df.describe())

             Age
count   5.000000
mean   25.800000
std     3.193744
min    22.000000
25%    24.000000
50%    25.000000
75%    28.000000
max    30.000000

4)filter(): This function allows you to filter the DataFrame based on certain conditions. You can use it to extract specific rows or columns that meet a given criteria.
ex:

In [17]:
# Filter rows where Age is greater than 25
filtered_df = df[df['Age'] > 25]
print(filtered_df)

    Name  Age      City
0   John   28  New York
3  Alice   30    Sydney

5)groupby(): This function is used for grouping data based on one or more columns and then applying a function to each group. It's helpful for aggregating data or performing group-based operations.
ex:

In [18]:
# Grouping the data by the 'City' column and finding the average age in each city
grouped_df = df.groupby('City')['Age'].mean()
print(grouped_df)

City
London      24.0
New York    28.0
Paris       22.0
Sydney      30.0
Toronto     25.0
Name: Age, dtype: float64

6)sort_values(): This function allows you to sort the DataFrame by one or more columns, either in ascending or descending order.
ex:

In [19]:
# Sorting the DataFrame by 'Age' column in descending order
sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)

    Name  Age      City
3  Alice   30    Sydney
0   John   28  New York
4   Mike   25   Toronto
1   Jane   24    London
2    Tom   22     Paris

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable in nature, while Panel is not. Let's understand the difference:

1)Series: A Series is a one-dimensional labeled array that can hold data of any type (integer, float, string, etc.). It is mutable, which means you can modify the values within a Series after it has been created. You can change the values, add new elements, or remove existing ones.

2)DataFrame: A DataFrame is a two-dimensional labeled data structure, similar to a table or spreadsheet. It consists of rows and columns, where each column is a Series. Like Series, DataFrames are also mutable. You can modify individual cell values, add or delete rows and columns, or perform other data manipulation operations.

3)