Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans: A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, manipulation, and management of data. It is designed to store and manage large amounts of information, and it provides mechanisms for accessing and updating that information.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems that differ in their data models and query languages:

1)SQL Databases: SQL databases, also known as relational databases, are based on the relational model proposed by E.F. Codd in 1970. They organize data into tables consisting of rows and columns, where each row represents a record, and each column represents a data attribute. SQL databases use SQL as the standard language for defining and manipulating the data.
Key characteristics of SQL databases:

>Structured data: Data is organized in predefined tables with a fixed schema.
>ACID properties: SQL databases enforce ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity and transactional consistency.
>Strong data consistency: SQL databases provide strong consistency guarantees, where data is always in a valid state.
>Complex queries: SQL databases excel at handling complex queries involving multiple tables and relationships.
>Scalability challenges: Scaling SQL databases horizontally (across multiple machines) can be challenging due to their rigid structure and strong consistency requirements.

2)NoSQL Databases:
NoSQL databases are designed to handle large volumes of unstructured and semi-structured data. They provide flexible schemas that allow for easy modification and addition of new data types. NoSQL databases are categorized into different types, including document databases, key-value stores, columnar databases, and graph databases, each optimized for specific use cases.
Key characteristics of NoSQL databases:

>Flexible schema: NoSQL databases offer schema flexibility, allowing for dynamic and evolving data models.
>Distributed and scalable: NoSQL databases are designed to scale horizontally, making it easier to handle high traffic and large data volumes.
>Eventual consistency: NoSQL databases may sacrifice immediate consistency for scalability, providing eventual consistency models.
>Simpler queries: NoSQL databases typically have simpler query languages tailored for specific data models, focusing on key-based lookups, document traversal, or column operations.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas. DDL statements are executed by the database management system (DBMS) to carry out the requested changes to the database structure.

1)CREATE: The CREATE statement is used to create new database objects, such as tables, indexes, views, or schemas. It specifies the name of the object and defines its structure and attributes.
Example: Creating a table named "Customers" with columns for customer information.
Ex:

CREATE TABLE Customers (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    email VARCHAR(255),
    address VARCHAR(200)
);

2)DROP: The DROP statement is used to remove or delete existing database objects. It permanently removes the specified object and all associated data.
Example: Dropping a table named "Customers" from the database.
DROP TABLE Customers;

3)ALTER: The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or drop columns, constraints, or other attributes of the object.
Example: Adding a new column named "phone" to the "Customers" table.
ALTER TABLE Customers
ADD COLUMN phone VARCHAR(20);

3)TRUNCATE: The TRUNCATE statement is used to remove all data from a table, but keeps the table structure intact. It is faster than deleting all rows individually, as it deallocates the space occupied by the table data.
Example: Truncating the "Orders" table to remove all its data
TRUNCATE TABLE Orders;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans: DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for manipulating data within a database. DML statements are used to insert, update, and delete data stored in database tables. These statements allow you to interact with the data, modify existing records, and add new records to the tables.

1)INSERT: The INSERT statement is used to add new records or rows to a table. It specifies the table name and the values to be inserted into the corresponding columns.
Example: Inserting a new record into the "Customers" table.
INSERT INTO Customers (id, name, email)
VALUES (1, 'John Doe', 'john@example.com');

2)UPDATE: The UPDATE statement is used to modify existing records in a table. It allows you to change the values of specific columns in one or more rows that match a certain condition.
Example: Updating the email address of a customer in the "Customers" table.
UPDATE Customers
SET email = 'newemail@example.com'
WHERE id = 1;

3)DELETE: The DELETE statement is used to remove one or more rows from a table. It allows you to specify a condition to identify the rows to be deleted.
Example: Deleting a specific record from the "Customers" table.
DELETE FROM Customers
WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

Ans: DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. DQL statements primarily include the SELECT statement, which allows you to specify the data you want to retrieve and the conditions for filtering and sorting the results.

SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve, the table(s) to query, and optional filtering and sorting conditions.
Example: Retrieving customer names and email addresses from the "Customers" table.
SELECT name, email
FROM Customers;

Q5. Explain Primary Key and Foreign Key.

Ans: 
Primary Key: A primary key is a column or a set of columns in a database table that uniquely identifies each row in that table. It serves as a unique identifier for the records and ensures the integrity and uniqueness of the data. Key characteristics of a primary key are:

1)Uniqueness: Each value in the primary key column(s) must be unique, meaning no two rows can have the same key value.

2)Non-nullability: A primary key column cannot have a null (empty) value. It must always contain a valid value.

3)Immutability: The values in a primary key should remain constant and not change over time.

4)Single-valued: A primary key consists of one or more columns that collectively form a unique identifier for each row.

Foreign Key: A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a relationship between two tables based on the values of the key columns. The foreign key represents a link between the tables and enforces referential integrity.
Key characteristics of a foreign key are:

1)Referential Integrity: The values in the foreign key column(s) must exist as values in the referenced primary key column(s) of another table, or be null if the foreign key allows null values.

2)Relationship: A foreign key establishes a relationship between two tables, typically representing a parent-child relationship or a relationship between related entities.

3)Can be Nullable: A foreign key column can allow null values if the relationship is optional.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establish a connection to MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object
cursor = connection.cursor()

# Execute a SQL query
query = "SELECT * FROM Customers"
cursor.execute(query)

# Fetch and print the result
result = cursor.fetchall()
for row in result:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

1)cursor(): 
>The cursor() method is called on the MySQL connection object to create a cursor.

>The cursor acts as a control structure that enables you to execute SQL statements and retrieve results from the database.

>

2)execute():
>The execute() method is called on the cursor object to execute a SQL query or statement.

>It takes the SQL query as a parameter and executes it on the connected MySQL database.

>It can be used for both data retrieval (SELECT queries) and data modification (INSERT, UPDATE, DELETE queries).

>After executing the query, the result, if any, can be fetched using methods like fetchone(), fetchmany(), or fetchall().

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans: 1)FROM clause:
The FROM clause specifies the table or tables from which the data will be retrieved. It identifies the source tables for the query.

2)WHERE clause:
The WHERE clause filters the rows from the specified table(s) based on specified conditions. It narrows down the result set based on the specified criteria.

3)GROUP BY clause:
The GROUP BY clause is used to group rows with the same values in specified columns. It is typically used in conjunction with aggregate functions to perform calculations on groups of data.

4)HAVING clause:
The HAVING clause filters the grouped rows further based on specified conditions. It is similar to the WHERE clause but operates on grouped data.

5)SELECT clause:
The SELECT clause specifies the columns to be retrieved from the table(s) or the result of the query. It determines the structure and content of the result set.

6)DISTINCT keyword:
The DISTINCT keyword, if used, eliminates duplicate rows from the result set.

7)ORDER BY clause:
The ORDER BY clause sorts the rows in the result set based on specified column(s) in ascending or descending order.

8)LIMIT clause:
The LIMIT clause, if supported by the database, is used to limit the number of rows returned by the query.