In [ ]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple
s="Nishchal"
l=[1,2,3,4]
c=3.1
t=(13,56,66,'a')

In [9]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.
var1=' '
print(type(var1))
var2 = "[ DS , ML , Python]"
print(type(var2))
var3 = [ "DS" , "ML" , "Python" ]
print(type(var3))
var4=1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [13]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **
x=11/4
print(x)
y=11%4
print(y)
z=11//4
print(z)
q=11**4
print(q)

2.75
3
2
14641

In [17]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.
v=[22,34,7.1,"sdd",'v']
n=len(v)
for i in range(n):
    print(f"{v[i]} ->type={type(v[i])},",end=" ")

22 ->type=<class 'int'>, 34 ->type=<class 'int'>, 7.1 ->type=<class 'float'>, sdd ->type=<class 'str'>, v ->type=<class 'str'>,

In [18]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.
A=int(input("Enter A:"))
B=int(input("Enter B:"))
cnt=0
while(A%B==0):
    A=A/B
    cnt+=1
print(f"A={A} is divible by B={B} and by {cnt} times")

Enter A: 34
Enter B: 2

A=17.0 is divible by B=2 and by 1 times

In [25]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.
v=[1,3,55,6,7,8,9,44,67,68,45,34,2,77,21 ,24, 36,47,59,23,90,100,31,30,88]
for i in v:
    if(i%3==0):
        print(f"{i} is divisble by 3")
    else:
        print(f"{i} is not divisble by 3")

1 is not divisble by 3
3 is divisble by 3
55 is not divisble by 3
6 is divisble by 3
7 is not divisble by 3
8 is not divisble by 3
9 is divisble by 3
44 is not divisble by 3
67 is not divisble by 3
68 is not divisble by 3
45 is divisble by 3
34 is not divisble by 3
2 is not divisble by 3
77 is not divisble by 3
21 is divisble by 3
24 is divisble by 3
36 is divisble by 3
47 is not divisble by 3
59 is not divisble by 3
23 is not divisble by 3
90 is divisble by 3
100 is not divisble by 3
31 is not divisble by 3
30 is divisble by 3
88 is not divisble by 3

In [29]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.
# Mutable types
v=[1,2,3,4] # ex1
print(v)
v.append(5)
print(v)
s={1:33,2:34,3:35} # ex2
print(s)
s[1]=88
s[4]=36
print(s)
#Immutable types
c=(2,3)
print(c)
# c[0]=3 #Type error
n_c=c+(3,4)
print(n_c)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
{1: 33, 2: 34, 3: 35}
{1: 88, 2: 34, 3: 35, 4: 36}
(2, 3)
(2, 3, 3, 4)