Q1. In order to predict house price based on several characteristics, such as location, square footage,
number of bedrooms, etc., you are developing an SVM regression model. Which regression metric in this
situation would be the best to employ?

In [6]:
import pandas as pd
df=pd.read_csv('Bengaluru_House_Data.csv')

In [7]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [8]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [9]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [10]:
df.isnull()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...
13315,False,False,False,False,False,False,False,False,False
13316,False,False,False,False,True,False,False,True,False
13317,False,False,False,False,False,False,False,False,False
13318,False,False,False,False,False,False,False,False,False
13319,False,False,False,False,True,False,False,False,False

In [11]:
print(df[['area_type']])

                  area_type
0      Super built-up  Area
1                Plot  Area
2            Built-up  Area
3      Super built-up  Area
4      Super built-up  Area
...                     ...
13315        Built-up  Area
13316  Super built-up  Area
13317        Built-up  Area
13318  Super built-up  Area
13319  Super built-up  Area

[13320 rows x 1 columns]

In [12]:
df['area_type'].fillna(df['area_type'].mode()[0], inplace=True)

In [13]:
df['area_type'].isnull().sum()

0

In [14]:
df=pd.get_dummies(df, columns=['area_type'])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   availability                    13320 non-null  object
 1   location                        13319 non-null  object
 2   size                            13304 non-null  object
 3   society                         7818 non-null   object
 4   total_sqft                      13320 non-null  object
 5   bath                            13247 non-null  float64
 6   balcony                         12711 non-null  float64
 7   price                           13320 non-null  float64
 8   area_type_Built-up  Area        13320 non-null  uint8
 9   area_type_Carpet  Area          13320 non-null  uint8
 10  area_type_Plot  Area            13320 non-null  uint8
 11  area_type_Super built-up  Area  13320 non-null  uint8
dtypes: float64(3), object(5), uint8(4)
memory usage: 884.7+ KB

In [16]:
df[['availability']].isnull()

       availability
0             False
1             False
2             False
3             False
4             False
...             ...
13315         False
13316         False
13317         False
13318         False
13319         False

[13320 rows x 1 columns]

In [17]:
df.dropna(subset=['availability'], inplace=True)

In [18]:
df[['availability']].isnull().sum()

availability    0
dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['availability_encoded'] = label_encoder.fit_transform(df['availability'])

In [20]:
df.head()

,availability,location,size,society,total_sqft,bath,balcony,price,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,availability_encoded
0,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,0,0,0,1,40
1,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,0,0,1,0,80
2,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,1,0,0,0,80
3,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,0,0,0,1,80
4,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,0,0,0,1,80

In [21]:
df['availability_encoded']

0        40
1        80
2        80
3        80
4        80
         ..
13315    80
13316    80
13317    80
13318    32
13319    80
Name: availability_encoded, Length: 13320, dtype: int64

In [22]:
df['availability']

0               19-Dec
1        Ready To Move
2        Ready To Move
3        Ready To Move
4        Ready To Move
             ...
13315    Ready To Move
13316    Ready To Move
13317    Ready To Move
13318           18-Jun
13319    Ready To Move
Name: availability, Length: 13320, dtype: object

In [23]:
df.drop(columns=['availability'], inplace=True)

In [24]:
df.head()

,location,size,society,total_sqft,bath,balcony,price,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,availability_encoded
0,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,0,0,0,1,40
1,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,0,0,1,0,80
2,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,1,0,0,0,80
3,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,0,0,0,1,80
4,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,0,0,0,1,80

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   location                        13319 non-null  object
 1   size                            13304 non-null  object
 2   society                         7818 non-null   object
 3   total_sqft                      13320 non-null  object
 4   bath                            13247 non-null  float64
 5   balcony                         12711 non-null  float64
 6   price                           13320 non-null  float64
 7   area_type_Built-up  Area        13320 non-null  uint8
 8   area_type_Carpet  Area          13320 non-null  uint8
 9   area_type_Plot  Area            13320 non-null  uint8
 10  area_type_Super built-up  Area  13320 non-null  uint8
 11  availability_encoded            13320 non-null  int64
dtypes: float64(3), int64(1), object(4), uint8(4)
memory usage: 884.7+ KB

In [26]:
df['size'].fillna(df['size'].mode()[0], inplace=True)

In [27]:
df['size'].isnull().sum()

0

In [28]:
df['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [29]:
df['size_encoded'] = label_encoder.fit_transform(df['size'])

In [30]:
df.head()

,location,size,society,total_sqft,bath,balcony,price,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,availability_encoded,size_encoded
0,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,0,0,0,1,40,13
1,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,0,0,1,0,80,19
2,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,1,0,0,0,80,16
3,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,0,0,0,1,80,16
4,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,0,0,0,1,80,13

In [31]:
df.drop(columns=['size'], inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   location                        13319 non-null  object
 1   society                         7818 non-null   object
 2   total_sqft                      13320 non-null  object
 3   bath                            13247 non-null  float64
 4   balcony                         12711 non-null  float64
 5   price                           13320 non-null  float64
 6   area_type_Built-up  Area        13320 non-null  uint8
 7   area_type_Carpet  Area          13320 non-null  uint8
 8   area_type_Plot  Area            13320 non-null  uint8
 9   area_type_Super built-up  Area  13320 non-null  uint8
 10  availability_encoded            13320 non-null  int64
 11  size_encoded                    13320 non-null  int64
dtypes: float64(3), int64(2), object(3), uint8(4)
memory usage: 884.7+ KB

In [33]:
df['location'].isnull().sum()

1

In [34]:
df.dropna(subset=['location'], inplace=True)

In [35]:
df['location'].isnull().sum()

0

In [36]:
df['location']

0        Electronic City Phase II
1                Chikka Tirupathi
2                     Uttarahalli
3              Lingadheeranahalli
4                        Kothanur
                   ...
13315                  Whitefield
13316               Richards Town
13317       Raja Rajeshwari Nagar
13318             Padmanabhanagar
13319                Doddathoguru
Name: location, Length: 13319, dtype: object

In [37]:
df['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [38]:
mean_target_by_location=df.groupby('location')['price'].mean().to_dict()

In [39]:
df['location_encoded'] = df['location'].map(mean_target_by_location)

In [40]:
df['location_encoded']

0         48.316667
1        115.015882
2         61.252527
3        115.348261
4         95.630303
            ...
13315    128.012324
13316    211.428571
13317     64.714035
13318    140.631429
13319     43.413000
Name: location_encoded, Length: 13319, dtype: float64

In [41]:
df.drop(columns=['location'], inplace=True)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13319 entries, 0 to 13319
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   society                         7817 non-null   object
 1   total_sqft                      13319 non-null  object
 2   bath                            13246 non-null  float64
 3   balcony                         12710 non-null  float64
 4   price                           13319 non-null  float64
 5   area_type_Built-up  Area        13319 non-null  uint8
 6   area_type_Carpet  Area          13319 non-null  uint8
 7   area_type_Plot  Area            13319 non-null  uint8
 8   area_type_Super built-up  Area  13319 non-null  uint8
 9   availability_encoded            13319 non-null  int64
 10  size_encoded                    13319 non-null  int64
 11  location_encoded                13319 non-null  float64
dtypes: float64(4), int64(2), object(2), uint8(4)
memory usage: 988.5+ KB

In [43]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [44]:
df['total_sqft'] = df['total_sqft'].apply(lambda x: (float(x.split('-')[0]) + float(x.split('-')[1]))/2 if '-' in x else x)

In [45]:
df['total_sqft'] = pd.to_numeric(df['total_sqft'], errors='coerce')

In [46]:
df['total_sqft']

0        1056.0
1        2600.0
2        1440.0
3        1521.0
4        1200.0
          ...
13315    3453.0
13316    3600.0
13317    1141.0
13318    4689.0
13319     550.0
Name: total_sqft, Length: 13319, dtype: float64

In [47]:
mean_total_sqft = df['total_sqft'].mean()
df['total_sqft'].fillna(mean_total_sqft, inplace=True)

In [48]:
df['total_sqft'].isnull().sum()

0

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13319 entries, 0 to 13319
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   society                         7817 non-null   object
 1   total_sqft                      13319 non-null  float64
 2   bath                            13246 non-null  float64
 3   balcony                         12710 non-null  float64
 4   price                           13319 non-null  float64
 5   area_type_Built-up  Area        13319 non-null  uint8
 6   area_type_Carpet  Area          13319 non-null  uint8
 7   area_type_Plot  Area            13319 non-null  uint8
 8   area_type_Super built-up  Area  13319 non-null  uint8
 9   availability_encoded            13319 non-null  int64
 10  size_encoded                    13319 non-null  int64
 11  location_encoded                13319 non-null  float64
dtypes: float64(5), int64(2), object(1), uint8(4)
memory usage: 988.5+ KB

In [50]:
df['society']

0        Coomee
1        Theanmp
2            NaN
3        Soiewre
4            NaN
          ...
13315    ArsiaEx
13316        NaN
13317    Mahla T
13318    SollyCl
13319        NaN
Name: society, Length: 13319, dtype: object

In [51]:
m=df.groupby('society')['price'].mean().to_dict()

In [52]:
df['society_en']=df['society'].map(m)

In [53]:
df['society_en'].mean()

101.45187220161186

In [54]:
df['society_en'].fillna(df['society_en'].mean(), inplace=True)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13319 entries, 0 to 13319
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   society                         7817 non-null   object
 1   total_sqft                      13319 non-null  float64
 2   bath                            13246 non-null  float64
 3   balcony                         12710 non-null  float64
 4   price                           13319 non-null  float64
 5   area_type_Built-up  Area        13319 non-null  uint8
 6   area_type_Carpet  Area          13319 non-null  uint8
 7   area_type_Plot  Area            13319 non-null  uint8
 8   area_type_Super built-up  Area  13319 non-null  uint8
 9   availability_encoded            13319 non-null  int64
 10  size_encoded                    13319 non-null  int64
 11  location_encoded                13319 non-null  float64
 12  society_en                      13319 non-null  float64
dtypes: float64(6), int64(2), object(1), uint8(4)
memory usage: 1.1+ MB

In [56]:
df.drop(columns=['society'], inplace=True)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13319 entries, 0 to 13319
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   total_sqft                      13319 non-null  float64
 1   bath                            13246 non-null  float64
 2   balcony                         12710 non-null  float64
 3   price                           13319 non-null  float64
 4   area_type_Built-up  Area        13319 non-null  uint8
 5   area_type_Carpet  Area          13319 non-null  uint8
 6   area_type_Plot  Area            13319 non-null  uint8
 7   area_type_Super built-up  Area  13319 non-null  uint8
 8   availability_encoded            13319 non-null  int64
 9   size_encoded                    13319 non-null  int64
 10  location_encoded                13319 non-null  float64
 11  society_en                      13319 non-null  float64
dtypes: float64(6), int64(2), uint8(4)
memory usage: 988.5 KB

In [58]:
df['bath']

0        2.0
1        5.0
2        2.0
3        3.0
4        2.0
        ...
13315    4.0
13316    5.0
13317    2.0
13318    4.0
13319    1.0
Name: bath, Length: 13319, dtype: float64

In [59]:
df['bath'].mode()

0    2.0
Name: bath, dtype: float64

In [60]:
mode_bath = df['bath'].mode()[0]  # Get the mode of the 'bath' column
df['bath'].fillna(mode_bath, inplace=True)  # Replace NaN values with the mode

In [61]:
df['bath'].isnull().sum()

0

In [62]:
df['balcony'].isnull().sum()

609

In [63]:
df['balcony']

0        1.0
1        3.0
2        3.0
3        1.0
4        1.0
        ...
13315    0.0
13316    NaN
13317    1.0
13318    1.0
13319    1.0
Name: balcony, Length: 13319, dtype: float64

In [64]:
df['balcony'].fillna(df['balcony'].mode()[0], inplace=True)

In [65]:
df['balcony'].isnull().sum()

0

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13319 entries, 0 to 13319
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   total_sqft                      13319 non-null  float64
 1   bath                            13319 non-null  float64
 2   balcony                         13319 non-null  float64
 3   price                           13319 non-null  float64
 4   area_type_Built-up  Area        13319 non-null  uint8
 5   area_type_Carpet  Area          13319 non-null  uint8
 6   area_type_Plot  Area            13319 non-null  uint8
 7   area_type_Super built-up  Area  13319 non-null  uint8
 8   availability_encoded            13319 non-null  int64
 9   size_encoded                    13319 non-null  int64
 10  location_encoded                13319 non-null  float64
 11  society_en                      13319 non-null  float64
dtypes: float64(6), int64(2), uint8(4)
memory usage: 988.5 KB

In [67]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score

In [68]:
X = df.drop(columns=['price'])
y = df['price']

In [69]:
X.isnull().sum()

total_sqft                        0
bath                              0
balcony                           0
area_type_Built-up  Area          0
area_type_Carpet  Area            0
area_type_Plot  Area              0
area_type_Super built-up  Area    0
availability_encoded              0
size_encoded                      0
location_encoded                  0
society_en                        0
dtype: int64

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [71]:
svr_model = SVR(kernel='poly')

In [72]:
svr_model.fit(X_train, y_train)

SVR(kernel='poly')

In [73]:
y_pred = svr_model.predict(X_test)

In [74]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R^2 Score: {r2}")

Mean Squared Error: 12406.595905382983
R^2 Score: 0.4680328444864117

In the context of predicting house prices, both MSE and RMSE are commonly used as they provide insights into the magnitude of errors in the predicted prices. However, if you prefer a metric that is more interpretable and less sensitive to outliers, MAE could be a better choice. Additionally, R-squared can provide information about how well the model explains the variance in house prices.

Q2. You have built an SVM regression model and are trying to decide between using MSE or R-squared as
your evaluation metric. Which metric would be more appropriate if your goal is to predict the actual price
of a house as accurately as possible?

Ans: If your goal is to predict the actual price of a house as accurately as possible, the Mean Squared Error (MSE) would be a more appropriate evaluation metric than R-squared.

Here's why:

1. **Mean Squared Error (MSE)**: MSE measures the average of the squared differences between the predicted and actual prices of houses. It penalizes larger errors more than smaller ones. As your goal is to predict the actual price of a house as accurately as possible, minimizing the MSE ensures that your predictions are as close to the actual prices as possible.

2. **R-squared (R2)**: R-squared measures the proportion of the variance in the target variable (house prices) that is explained by the model. While R-squared is a useful metric for understanding how well the model fits the data, it does not directly measure the accuracy of individual predictions. A high R-squared value does not guarantee that individual predictions are accurate, especially if the variance of the target variable is high.

Therefore, when the primary goal is to predict the actual price of a house accurately, minimizing the MSE is more aligned with this objective. However, it's also beneficial to consider other metrics alongside MSE to gain a comprehensive understanding of the model's performance, such as RMSE, MAE, and R-squared.

Q3. You have a dataset with a significant number of outliers and are trying to select an appropriate
regression metric to use with your SVM model. Which metric would be the most appropriate in this
scenario?

Ans: When dealing with a dataset that contains a significant number of outliers, it's important to choose a regression metric that is robust to outliers. In such scenarios, the most appropriate regression metric to use with your SVM model would be the Mean Absolute Error (MAE).

Here's why MAE is more appropriate when dealing with datasets containing outliers:

1. **Robustness to Outliers**: MAE is less sensitive to outliers compared to other metrics such as MSE (Mean Squared Error) and RMSE (Root Mean Squared Error). Outliers have a disproportionate impact on MSE and RMSE because they are squared, which can inflate the errors significantly. On the other hand, MAE only considers the absolute difference between the predicted and actual values, making it more robust to outliers.

2. **Interpretability**: MAE provides a straightforward interpretation as it represents the average absolute difference between the predicted and actual values. It is easier to understand and explain compared to MSE and RMSE.

3. **Balance of Errors**: MAE treats all errors equally regardless of their magnitude, which can be advantageous when dealing with a dataset that contains a significant number of outliers. It ensures that outliers do not dominate the evaluation metric and provides a balanced view of model performance.

In summary, when working with a dataset that contains a significant number of outliers, using MAE as the regression metric with your SVM model is a prudent choice. It allows for robust evaluation of the model's performance while minimizing the influence of outliers on the evaluation process.

Q5. You are comparing the performance of different SVM regression models using different kernels (linear,
polynomial, and RBF) and are trying to select the best evaluation metric. Which metric would be most
appropriate if your goal is to measure how well the model explains the variance in the target variable?

Ans: If your goal is to measure how well the model explains the variance in the target variable, the most appropriate evaluation metric to use when comparing different SVM regression models with different kernels (linear, polynomial, and RBF) is the Coefficient of Determination (R-squared).

Here's why R-squared is the most appropriate metric for this scenario:

1. **Measure of Variance Explanation**: R-squared measures the proportion of the variance in the target variable (i.e., the house prices) that is explained by the independent variables (i.e., the features used in the regression model). A higher R-squared value indicates that a larger proportion of the variance in the target variable is explained by the model.

2. **Interpretability**: R-squared has a straightforward interpretation. It ranges from 0 to 1, where:
   - R-squared = 1: The model perfectly explains the variance in the target variable.
   - R-squared = 0: The model does not explain any of the variance in the target variable.
   - R-squared < 0: The model performs worse than a horizontal line (a constant model).

3. **Comparison Across Models**: R-squared allows for direct comparison across different models with different kernels. You can evaluate the performance of SVM regression models with linear, polynomial, and RBF kernels using R-squared and choose the model with the highest R-squared value as the best performer in terms of explaining the variance in the target variable.

Therefore, when comparing the performance of different SVM regression models with different kernels and assessing how well they explain the variance in the target variable, R-squared is the most appropriate evaluation metric to use. It provides valuable insights into the goodness-of-fit of the models and facilitates informed model selection decisions.